h1, h2, h3, h4, h5, h6 {
  color: red;
  font-family: sans-serif;
}

table, th, td {
  border: 4px purple groove;
  text-align: center;
}

thead tr th:nth-child(-n + 4) {
  color: green;
  font-weight: bold;
}

li {
  list-style-type: square;
}

a:hover {
  background-color: yellow;
  text-decoration: none;
}

blockquote {
  background-color: navy;
  color: white;
  text-align: center;
}

#teamRoster li ul {
  background: linear-gradient( rgba(255, 255, 255, 2), rgba(255, 255, 255, 0.1)), url(https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg) no-repeat;
  height: 200px;
  width: 300px;
}

#teamRoster li:last-child ul {
  background: linear-gradient( rgba(255, 255, 255, 2), rgba(255, 255, 255, 0.1)), url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg) no-repeat;
  height: 150px;
  width: 300px;
}

img {
  display: none;
}

#checkbox-grid li {
  list-style-type: none;
}

#teamRoster li ul>li:first-child {
  font-weight: bold;
}

#scoreBoard thead tr {
  background-color: lightyellow;
}

#scoreBoard tbody tr:nth-child(odd) {
  background: linear-gradient(red, yellow, blue, orange);
}

#scoreBoard tbody tr:nth-child(even) {
  background-color: lightyellow;
}

#scoreBoard tfoot tr {
  background: linear-gradient(red, yellow, blue, orange);
}
